*.Rproj.user
*.Rhistory
*.RData
*.html
*.md
*.pdf
*.tex
*.aux
*.log
*.bbl
*.blg
auto
*~
*out
*.zip
*.tar.gz
figure/
.Rproj.user
plotting-answers.R
Sweavel.sty
r-markdown/r-markdown-figure
r-markdown/peng
cache/
